body {
    background-image: linear-gradient(180deg, #8befff, #c699fc, #ff53c1);
    background-repeat: no-repeat;
}

.titulo {
    font-size: 100px;
    color: #fff;
    text-align: center;
}

.bloco1 {
    width: 500px;
    height: 500px;
    margin: 30px;
    padding: 50px;
    background-image: radial-gradient(#024000, #000000);
}

.bloco2 {
    width: 500px;
    height: 500px;
    margin: 30px;
    padding: 50px;
    background-image: radial-gradient(#00333d, #000637);
}